{% load static %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/books.js' %}" type="text/javascript"></script>
<table  class="table table-condensed table-hover table-striped table-bordered dataTable " id="headerTable">
                        <thead>
                            <tr>
                                <th class="tabHead">Book Id</th>
                                <th class="tabHead">Book name</th>
<!--                                <th  class="tabHead" >Author</th>-->
<!--                                <th  class="tabHead" >Books_count</th>-->
                                <th  class="tabHead" >Get Book Details</th>
<!--                                <th  class="tabHead" >Delete</th>-->
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in config_json.teamdata %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.book_name}}</td>
<!--                                <td>{{ item.author}}</td>-->
<!--                                <td>{{ item.books_count}}</td>-->
<!--                                <td>{{ item.players }}</td>-->
                                <td>
                                    <button type="submit" class="btn btn-info" id="showBookDetails" onclick="showBookDetails({{item.id}})">BOOK DETAILS</button>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
