{% load static %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/registration.js' %}" type="text/javascript"></script>
<p>Add New Books
</p>
<form id = "select_doc_form" method = "post">{% csrf_token %}


    <div class="form-group">
        <input type="text" class="form-control password" name ="book_name" id="book_name" placeholder="Book name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control password" name ="author" id="author" placeholder="author">
    </div>
    <div class="form-group">
        <input type="text" class="form-control password" name ="book_count" id="book_count" placeholder="book count">
    </div>



    <input type="button" class="btn btn-primary" id="add" value="ADD BOOK">
</form>